<!--new data-->
<div
  class="new-data-container"
  [formGroup]="addItemForm"
  [style.display]="popDisplay ? 'flex' : 'none'"
>
  <p class="title">Add new Task</p>
  <div class="new-data">
    <p>Enter Task name</p>
    <input
      formControlName="taskName"
      type="text"
      placeholder="task name"
      [value]="myDefaultValue"
    />
  </div>
  <div class="new-data">
    <p>Task type</p>
    <select formControlName="taskType">
      <option>Completed</option>
      <option>In progress</option>
      <option>To-do</option>
    </select>
  </div>
  <div class="new-data">
    <button (click)="cancel()">Cancel</button>
    <button (click)="save()">Save</button>
  </div>
</div>
<div class="wrapper" [style.display]="taskDisplay ? 'block' : 'none'">
  <div class="title-add_btn">
    <!--title-->
    <p class="title">Angular Material - Drag and Drop</p>

    <!--add item-->
    <button class="addItem-btn" (click)="addItem()"><h2>+ add item</h2></button>
  </div>
  <hr />

  <!--drag and drop-->
  <div class="content">
    <!--Completed-->
    <div class="example-container">
      <h2>Completed</h2>
      <div
        cdkDropList
        #completedList="cdkDropList"
        [cdkDropListData]="completed"
        [cdkDropListConnectedTo]="[inProgressList, todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of completed" cdkDrag>
          {{ item }}
          <button class="delete-btn">
            <img (click)="deleteCompleted(item)" src="../../../assets/cancel.png" />
          </button>
        </div>
      </div>
    </div>
    <!--InProgress-->
    <div class="example-container">
      <h2>InProgress</h2>

      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[completedList, todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag>
          {{ item }}
          <button class="delete-btn">
            <img (click)="deleteInProgress(item)" src="../../../assets/cancel.png" />
          </button>
        </div>
      </div>
    </div>
    <!--To-do-->
    <div class="example-container">
      <h2>To-Do</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[completedList, inProgressList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="example-box" *ngFor="let item of todo" cdkDrag>
          {{ item }}
          <button class="delete-btn">
            <img (click)="deleteToDo(item)" src="../../../assets/cancel.png" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
